[submodule "engine"]
	path = engine
	url = https://github.com/distressedrook/lucena-engine.git
[submodule "backend"]
	path = backend
	url = https://github.com/distressedrook/lucena-backend.git
[submodule "mac-client"]
	path = mac-client
	url = https://github.com/distressedrook/lucena-mac.git
[submodule "lucena-plans"]
	path = lucena-plans
	url = https://github.com/distressedrook/lucena-plan.git
[submodule "lucena-tactics"]
	path = lucena-tactics
	url = https://github.com/distressedrook/lucena-tactics.git
